
<section class = "all-songs-grid">
<% @songs.each do |song| %>
  <section id = "song">
    <p><%= song.title %></p>
    <p>Play Count: <span style= "color:purple"><%= song.play_count %></span></p>
  </section>
<% end %>
</section>

Number of Songs: <%= @songs.total_songs %>
