<% @playlists.each do |playlist| %>
  <section id = "playlist-<%=playlist.id%>">
    <%= playlist.name %>
    <% playlist.songs.each do |song| %>
      <%= render partial:"partials/song_info", locals:{song_item: song}%>
    <% end %>
  </section>
<% end %>
